.App {
  text-align: center;
  height: 100%;
  overflow-y: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 6s ease-in-out;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 100%;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(-20deg);
  }
}
